* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
body {
    width: 100%;
    color: white;
}

.section-container {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);

}
.section-container2 {
background-color: black;  
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
}
button {
    background-color: yellow;
    border: 5px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
}
button:hover {
    background-color: gray;
    transition: all 0.4s linear;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
}
.section-p {
    font-size: 12px;
    font-weight: 300;
}
.section-p-small {
    font-size: 10px;
    font-weight: 300;
}
/** Header **/

.header-container {
    position: sticky;
    top:0%;
    z-index: 9999;
}

.header {
    margin: 0 auto;
    max-width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
   
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo-container img {
    height: 70%;
}
.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.navbar-list {
    gap: 50px;

}

.navbar i {
    font-size: 40px;
    color: red;
    cursor: pointer;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar a {
    color: white;
    font-size: 22px;
}

.navbar-list li:last-child >a {
    border: 1px solid white;
    font-size: 14px;
padding: 8px 40px;
border-radius: 3px;
transition: all 0.3s linear;
} 
.navbar-list li:last-child >a :hover{
    background-color: white;
    color: gray;
    transition: all 0.3s linear;
    font-weight: 700;
}


/* Hero **/
 #hero {
     justify-content: space-between;
    flex-wrap: wrap;
     gap: 20px;
    padding: 70px 50px;

 }
.description-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 50% ;
 gap: 40px;

}

.text-container {
    max-width: max(40%,300px);

}

.text-container h1 {
    font-weight: 700;
    font-weight: 45px;
    line-height: 45px;

}
.text-container p {
    font-size: 15px;
    font-weight: 300;
}

.hero-img {
    background-image: url(./IMG1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 30% ;
    height: 350px;
    border-radius: 5px;
    
 
}

/** Section 3 **/

#productos {
    flex-direction: column
    
}

.title-container {
    display: flex;
    justify-content: space-around;
    gap:25%;
    width: 100%;
     padding-bottom: 30px;
}
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
   
    

}
.product img {
    max-width: 250px;
}

.product {
    
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    border-radius: 2rem;
    box-shadow: 0 0 20px 5px;
    padding: 1rem 0;
}

.product-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    max-width: 100px;
    margin-top: 2rem;

}
.product-price {
    color: red;
    font-weight: medium;
   font-size: 1.5rem; 
   margin: 1rem 0;
}
.btn-products {
    background-color: aliceblue;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    padding: 1rem 5rem;
    text-transform: uppercase;

}

/** Section 4 **/


.footer {
    display: flex;
justify-content: space-around;
max-width: 1300px;
margin: 0 auto;
flex-wrap: wrap;
gap:  70px;
padding: 30px;
background-color:black;
}
.footer-msg {
    text-align: justify;
    font-weight: 700;
    font-size: 24px;
    max-width: 450px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-size:  14px;
    min-height: 100px;
}
.footer-social i:last-child {
    margin-left: 10px;
}

.footer-terms {
    display: flex;
    gap: 25px;
    }
.footer-terms a {
    color:white;
    font-weight: 300;
}















@media (max-width:320px) {

    .header {
        padding: 0px 50px 0px 10px;
    }
    .navbar i {
        display: block;
    }
    
    .navbar-list {
        position: absolute;
        background-color: black;
    flex-direction: column;
    top:100px;
    right: 0;
    width: 100%;
    height: calc(100vh-100px);
    display: none;
    z-index: 9999;
    }
    
    #toggle-menu:checked + .navbar-list {
        display:flex;
    }
    

.section-container2 {
    background-color: aqua;
    display: flex;
    

}


.title-container{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  
}

.product {
    gap: 10px;
    max-width: 250px;
}

.product img {
max-width: 200px;
}

.btn-products {
padding: 1rem;

}

.hero-img {
    height: 180px;
   min-width: 200px;
}

.description-container {
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


}




























   
